{{ define "main" }}
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="grid grid-cols-1 gap-6">
      <div class="bg-base-200 px-8 py-10 rounded-md post-content">
        {{ with .Params.image }}
        <img
          class="rounded-md mb-4 w-full"
          src="{{ $.RelPermalink }}/{{ . }}"
          alt="{{ $.Title }}"
          title="{{ $.Title }}" />
        {{ end }}
        <h1 class="font-medium text-base-content text-3xl md:text-4xl mb-5">{{ .Title }}</h1>

        {{ .Content | safeHTML }}
      </div>
    </div>
  </div>
{{ end }}
