{{/* Posts section */}}
<div class="container mx-auto px-4 py-16">
  <h2 class="text-3xl md:text-4xl lg:text-5xl p-5 text-center font-medium font-poppins text-base-content mb-6">
  Latest Posts
  </h2>
  <div class="grid grid-cols-2 gap-8">
    {{ range first 6 (where site.RegularPages "Type" "posts") }}
       <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-base-200 prose prose-sm max-w-none">
        <h3 class="mt-4 mb-2 text-base font-medium sm:text-lg lg:text-base xl:text-lg text-base-content">
          <a href="{{ .Permalink }}" class="text-primary hover:text-primary-focus">{{ .Title }}</a>
        </h3>
        <p class="text-lg font-light text-base-content">{{ .Summary | plainify | truncate 150 }}</p>
        <!-- aria-label provides descriptive text for accessibility, required for non-descriptive link text -->
        <a href="{{ .Permalink }}" class="text-primary hover:text-primary-focus" aria-label="Read more about {{ .Title }}">Read more</a>
      </div>
    {{ end }}
  </div>
</div>