{{ define "main" }}
<div class="container max-w-screen-xl mx-auto px-4">
  <h1 class="text-center font-medium text-base-content text-3xl md:text-4xl mb-5 font-poppins">{{ .Title }}</h1>
  {{ .Content }}
  
  <div class="flex flex-wrap gap-2 justify-center">
    {{ range $key, $value := .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}" class="badge badge-primary badge-lg">
        <i class="bx bx-purchase-tag-alt mr-1"></i>
        {{ .Page.Title }} ({{ .Count }})
      </a>
    {{ end }}
  </div>
</div>
{{ end }}