@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-normal;
  }

  section {
    @apply py-5 md:py-10;
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-outline-2 {
    color: hsl(var(--b1));
    -webkit-text-stroke: 2px #fff;
  }

  .font-outline-3 {
    color: hsl(var(--b1));
    -webkit-text-stroke: 3px #fff;
  }

  [data-theme='halloween-light'] {
    --b1: 100% 0 0;
    --b2: 96.1151% 0 0;
    --b3: 92.4169% 0.00108 197.137559;
    --bc: 27.8078% 0.029596 256.847952;
    --p: 49.12% 0.3096 275.75;
    --pc: 89.824% 0.06192 275.75;
    --s: 69.71% 0.329 342.55;
    --sc: 98.71% 0.0106 342.55;
    --a: 76.76% 0.184 183.61;
    --ac: 15.352% 0.0368 183.61;
    --n: 31.3815% 0.021108 254.139175;
    --nc: 74.6477% 0.0216 264.435964;
    --in: 72.06% 0.191 231.6;
    --su: 64.8% 0.15 160;
    --wa: 84.71% 0.199 83.87;
    --er: 71.76% 0.221 22.18;
    --erc: 0% 0 0;
    --inc: 0% 0 0;
    --wac: 0% 0 0;
    --suc: 0% 0 0;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
  }
}

@layer utilities {
  body {
    background-color: var(--color-base-100);
    color: var(--color-base-content);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300;
    font-family: Roboto, sans-serif;
  }

  .post-content {
    h2 {
      @apply font-medium text-xl md:text-2xl my-5;
      color: var(--color-base-content);
    }

    h3 {
      @apply font-medium text-lg md:text-xl my-3;
      color: var(--color-base-content);
    }

    h4 {
      @apply font-medium text-base md:text-lg my-3;
      color: var(--color-base-content);
    }

    p {
      @apply text-lg py-2;
      color: var(--color-base-content);
    }

    ul {
      @apply list-disc py-2;
    }

    li {
      @apply text-base mx-5 px-2 py-2;
      color: var(--color-base-content);
    }

    a {
      color: var(--color-primary);
      text-decoration: underline;
    }
    code {
      @apply rounded-md px-1 py-0.5;
      background-color: var(--color-base-200);
    }

    pre {
      @apply px-5 rounded-md my-5;
      background-color: var(--color-base-200);
    }

    pre code {
      background-color: transparent;
    }
    blockquote {
      border-left: 4px solid var(--color-base-300);
      background-color: var(--color-base-200);
      @apply p-2 my-5;
    }
  }

  .post-card {
    h2 {
      @apply font-medium text-3xl md:text-4xl mb-5;
      color: var(--color-base-content);
    }

    p {
      @apply font-light text-lg py-2;
      color: var(--color-base-200);
    }

    a {
      color: var(--color-primary);
      text-decoration: underline;
    }

    blockquote {
      border-left: 4px solid var(--color-base-300);
      background-color: var(--color-base-200);
      @apply p-2 my-5;
    }
  }
}
