{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}

<div class="flex items-center">
  <div class="my-2 flex whitespace-nowrap items-center">
    <i class="bx bx-calendar text-base-300 h-5"></i>
    <span class="text-base-300 text-sm mx-1"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span>
  </div>
  <div class="m-2 text-base flex whitespace-nowrap items-center">
    <i class="bx bx-time-five text-base-300"></i>
    <span class="text-base-300 text-sm mx-1 h-5">
      {{ .ReadingTime }}
      {{ if eq .ReadingTime 1 }}minute{{ else }}minutes{{ end }}
    </span>
  </div>
  <div class="my-2 flex items-center">
    <i class="bx bx-purchase-tag-alt text-base-300 h-4 mr-2"></i>
    <div class="flex flex-wrap gap-1">
      {{ range index .Params "tags" }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="badge badge-ghost hover:badge-neutral px-2 py-1 text-xs" href="{{ $href }}" aria-label="{{ . }}">{{ . }}</a>
      {{ end }}
    </div>
  </div>
</div>
