{{- $navbar := .Site.Data.navbar -}}
<div class="flex items-center justify-between py-5">
  <div class="flex items-center">
    <a href="{{ .Site.BaseURL }}">
      {{- if $navbar.logo -}}
        <img src="{{ $navbar.logo | relURL }}" class="py-5 w-10 lg:w-14 min-w-10" alt="{{ .Site.Title }}" title="{{ .Site.Title }}">
      {{- else -}}
        <h1 class="text-lg lg:text-xl px-2 lg:px-3 font-medium">{{ .Site.Title }}</h1>
      {{- end -}}
    </a>
    <a href="{{ .Site.BaseURL }}">
      <h1 class="text-lg lg:text-xl px-2 lg:px-3 font-medium">{{ .Site.Title }}</h1>
    </a>
  </div>
  <div class="hidden lg:block">
    <ul class="flex items-center">
      {{- range $navbar.menu -}}
        <li class="px-5">
          <a href="{{ .link | relURL }}" alt="{{ .description }}" title="{{ .description }}" target="{{ .target }}" class="cursor-pointer font-normal text-base">{{ .text }}</a>
        </li>
      {{- end -}}
    </ul>
  </div>
  <div class="flex items-center">
    {{- if $navbar.button.enabled -}}
      <div class="hidden lg:block mr-5">
        <a href="{{ $navbar.button.link | relURL }}" target="{{ $navbar.button.target }}" class="bg-primary-600 hover:bg-primary-700 text-white px-4 py-2 rounded">{{ $navbar.button.text }}</a>
      </div>
    {{- end -}}
    <button id="theme-toggle" class="ml-4 p-2 rounded-full bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200" title="Toggle dark mode">
      <i class="bx bx-sun text-xl" id="theme-icon-sun"></i>
      <i class="bx bx-moon text-xl hidden" id="theme-icon-moon"></i>
    </button>
    <div class="block lg:hidden mt-2 ml-4">
      <button @click="mobileMenu = true">
        <i class="bx bx-menu text-3xl"></i>
      </button>
    </div>
  </div>
</div>