{{/* X (Twitter) Embed Shortcode */}}
{{- $user := .Get "user" -}}
{{- $id := .Get "id" -}}

{{- if and $user $id }}
<div class="embed-x-wrapper" style="text-align: center; margin: 1rem 0;">
  <blockquote class="twitter-tweet" style="display: inline-block; margin: 0; padding: 1rem; border-left: 4px solid #1da1f2; font-style: italic; background-color: #f5f8fa; border-radius: 8px; max-width: 500px;">
    <a href="https://twitter.com/{{ $user }}/status/{{ $id }}"></a>
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{{- else }}
  <div class="alert alert-error">X embed shortcode requires 'user' and 'id' parameters</div>
{{- end }}
