{{ define "main" }}
  {{ $title := .Title }}
  {{ $companies := slice }}
  {{ with site.Data.sections.experience }}
    {{ if .title }}{{ $title = .title }}{{ end }}
    {{ if .company }}{{ $companies = .company }}{{ end }}
  {{ end }}

  <div class="container max-w-screen-xl mx-auto px-4 py-16">
    <h1 class="text-3xl md:text-4xl lg:text-5xl text-center font-medium font-poppins text-base-content">
      {{ $title }}
    </h1>
    <div class="relative mx-auto mt-12 flex w-full flex-col text-center text-base-content">
      {{ range $companies }}
        <div class="mt-12 flex flex-col text-center md:flex-row md:text-left">
          <div class="flex-1">
            <h2 class="text-lg font-medium sm:text-xl lg:text-lg xl:text-xl text-base-content">{{ .name }}</h2>
            {{ with .former }}
              <p class="text-lg font-light text-base-content">Formerly {{ . }}</p>
            {{ end }}
            <p class="text-lg font-light text-base-content">{{ .role }}</p>
            <p class="text-lg font-light text-base-content">{{ .date }}</p>
          </div>
          <div class="flex-1">
            {{ range .text }}
              <p class="text-lg font-light text-base-content">{{ . }}</p>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
